<span style="float:left"><%= image_tag(gravatar_url(@user),size:80 ) %> </span>
<h2><%= @profile.full_name %></h2>
</br>
<% if @user.posts.count == 0 %>
	<h3>The user has no posts yet</h3>
<% else %>

<%= render @user.posts %>
<% end %>
